$font-family: 'Montserrat', sans-serif;
$second-family: 'Seymour One', sans-serif;
$third-family: 'Inter', sans-serif;
$font3: 'Roboto', sans-serif;

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// COLORS

$main-bg-color: #84a178;
$accent-bg-color: #ffffff;
$products-bg-color-green: #aec6a5;
$products-bg-color-yellow: #efd478;
$products-bg-color-coffee: #d6936d;
$link-bg-color: #f8d24e;

$main-text-color: #fcfcfc;
$secondary-text-color: #131313;

$map-link-color: #d6936d;
$time-color: #ababab;
$copyright-color: #7a7a7a;

$button-border-color: #0a8817;
$button-text-color: #000000;