<div class="modal about-modal" id="modal2" aria-labelledby="modalTitle">
  <button
    class="close-btn"
    id="closeBurgerMenu"
    aria-label="Close modal"
    type="button"
  >
    <svg class="close-btn__img">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="about-modal__title modal__title" id="modalTitle">How it’s made?</p>
  <iframe class="about-modal__frame"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/o5-MkuEnDoA?si=ru2iLYrfHY6aJeK-"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <p class="about-modal__text">
    Alexander the Great was treated to this cold delicacy during his campaigns
    in Persia and India, and Hippocrates himself spoke about the beneficial
    qualities of ice cream: it can relieve stress and improve mood😊
  </p>
</div>
