<footer class="footer">
  <div class="footer__container container">
    <div class="footer__slogan">
      <p class="footer__title">homemade ice cream made</p>
      <p class="footer__title--accent">with passion</p>
    </div>
    <div class="footer__content">
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="#" class="footer__social-link" aria-label="Link on Github">
            <svg class="footer__social-img" width="34" height="34">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link" aria-label="Link on Telegram">
            <svg class="footer__social-img" width="34" height="34">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link" aria-label="Link on Facebook">
            <svg class="footer__social-img" width="34" height="34">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer__phone">
        <a
          href="tel:+610383766284"
          aria-label="For more information about ice cream call +610383766284"
          class="footer__phone-number"
          ><span class="footer__phone-text">Feel free to contact</span> +61 (0)
          383 766 284</a
        >
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p class="footer__copyright-text">
      © 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
