<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <swiper-container
      class="swiper gallery__swiper"
      centered-slides="true"
      autoplay-delay="3000"
      autoplay-disable-on-interaction="false"
      speed="1500"
    >
      <swiper-slide
        ><picture>
          <source
            srcset="
              ./images/mobile/gallery-1.webp    373w,
              ./images/mobile/gallery-1@2x.webp 746w,
              ./images/mobile/gallery-1@3x.webp 1119w
            "
            media="(min-width: 420px) and (max-width: 767px)"
            sizes="(min-width: 420px) and (max-width: 767px) 373px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery-1.webp    559w,
              ./images/tablet/gallery-1@2x.webp 1118w,
              ./images/tablet/gallery-1@3x.webp 1677w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="(min-width: 768px) and (max-width: 1199px) 559px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery-1.webp    1000w,
              ./images/desktop/gallery-1@2x.webp 2000w,
              ./images/desktop/gallery-1@3x.webp 3000w
            "
            media="(min-width: 1200px)"
            sizes="(min-width: 1200px) 745px"
            type="image/webp"
          />
          <img
            class="gallery__img"
            src="./images/desktop/gallery-1.webp"
            alt="ice-cream"
          />
        </picture>
      </swiper-slide>
      <swiper-slide>
        <picture>
          <source
            srcset="
              ./images/mobile/gallery-2.webp    373w,
              ./images/mobile/gallery-2@2x.webp 746w,
              ./images/mobile/gallery-2@3x.webp 1119w
            "
            media="(min-width: 420px) and (max-width: 767px)"
            sizes="(min-width: 420px) and (max-width: 767px) 373px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery-2.webp    559w,
              ./images/tablet/gallery-2@2x.webp 1118w,
              ./images/tablet/gallery-2@3x.webp 1677w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="(min-width: 768px) and (max-width: 1199px) 559px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery-2.webp    745w,
              ./images/desktop/gallery-2@2x.webp 1490w,
              ./images/desktop/gallery-2@3x.webp 2235w
            "
            media="(min-width: 1200px)"
            sizes="(min-width: 1200px) 745px"
            type="image/webp"
          />
          <img
            class="gallery__img"
            src="./images/desktop/gallery-2.webp"
            alt="ice-cream"
          />
        </picture>
      </swiper-slide>
      <swiper-slide>
        <picture>
          <source
            srcset="
              ./images/mobile/gallery-3.webp    373w,
              ./images/mobile/gallery-3@2x.webp 746w,
              ./images/mobile/gallery-3@3x.webp 1119w
            "
            media="(min-width: 420px) and (max-width: 767px)"
            sizes="(min-width: 420px) and (max-width: 767px) 373px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery-3.webp    559w,
              ./images/tablet/gallery-3@2x.webp 1118w,
              ./images/tablet/gallery-3@3x.webp 1677w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="(min-width: 768px) and (max-width: 1199px) 559px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery-3.webp    745w,
              ./images/desktop/gallery-3@2x.webp 1490w,
              ./images/desktop/gallery-3@3x.webp 2235w
            "
            media="(min-width: 1200px)"
            sizes="(min-width: 1200px) 745px"
            type="image/webp"
          />
          <img
            class="gallery__img"
            src="./images/desktop/gallery-3.webp"
            alt="ice-cream"
          />
        </picture>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
