<header class="header" id="home">
  <div class="container header__container">
    <!-- Logo -->
    <a class="logo" href="#home">
      <picture>
        <source
          srcset="
            ./images/mobile/logo.png    19w,
            ./images/mobile/logo@2x.png 38w,
            ./images/mobile/logo@3x.png 57w
          "
          media="(max-width: 767px)"
          type="image/png"
          sizes="(max-width: 767px) 19px"
        />
        <source
          srcset="
            ./images/tablet/logo.png    23w,
            ./images/tablet/logo@2x.png 46w,
            ./images/tablet/logo@3x.png 69w
          "
          media="(min-width: 768px) and (max-width: 1199px)"
          type="image/png"
          sizes="(min-width:1200px) 23px"
        />
        <source
          srcset="
            ./images/desktop/logo.png    28w,
            ./images/desktop/logo@2x.png 56w,
            ./images/desktop/logo@3x.png 84w
          "
          media="(min-width:1200px)"
          type="image/png"
          sizes="(min-width:1200px) 28px"
        />
        <img class="logo__img" src="./images/desktop/logo.png" alt="Logo" />
      </picture>
      <span class="logo__text">ce</span>
    </a>
    <!-- Button tab-mob -->
    <button class="burger-icon" id="burgerIcon" type="button">
      <svg width="32" height="32">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <!-- Header mobile menu -->
    <div class="burger-menu" id="burgerMenu">
      <a class="burger-menu__logo logo" href="#home" id="burgerLogo">
          <picture>
            <source
              srcset="
                ./images/mobile/logo.png    19w,
                ./images/mobile/logo@2x.png 38w,
                ./images/mobile/logo@3x.png 57w
              "
              media="(max-width: 767px)"
              type="image/png"
              sizes="(max-width: 767px) 19px"
            />
            <source
              srcset="
                ./images/tablet/logo.png    23w,
                ./images/tablet/logo@2x.png 46w,
                ./images/tablet/logo@3x.png 69w
              "
              media="(min-width: 768px) and (max-width: 1199px)"
              type="image/png"
              sizes="(min-width:1200px) 23px"
            />
            <source
              srcset="
                ./images/desktop/logo.png    28w,
                ./images/desktop/logo@2x.png 56w,
                ./images/desktop/logo@3x.png 84w
              "
              media="(min-width:1200px)"
              type="image/png"
              sizes="(min-width:1200px) 28px"
            />
            <img class="logo__img" src="./images/desktop/logo.png" alt="Logo" />
          </picture>
          <span class="logo__text">ce</span>
      </a>
      <button class="close-burger" id="closeBurger" type="button">
        <svg class="close-burger__img" width="32" height="32">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>
      <nav class="burger-menu__nav">
        <ul class="burger-menu__list">
          <li class="burger-menu__item">
            <a class="burger-menu__link" href="#home">Home</a>
          </li>
          <li class="burger-menu__item">
            <a class="burger-menu__link" href="#">How it’s made?</a>
          </li>
          <li class="burger-menu__item">
            <a class="burger-menu__link" href="#">Our products</a>
          </li>
          <li class="burger-menu__item">
            <a class="burger-menu__link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="open-modal-btn header__button--mobile" data-modal="modal1" type="button">
        Buy now
        <svg class="header__button-img" width="12" height="12">
          <use href="./images/icons.svg#icon-needle"></use>
        </svg>
      </button>
    </div>
    <!-- Desk nav -->
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#home">Home</a></li>
        <li class="nav__item">
          <a class="nav__link" href="#">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Our products</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#">Contact</a></li>
      </ul>
    </nav>
    <!-- Buy now -->
    <button class="open-modal-btn header__button" data-modal="modal1" type="button">
      Buy now
      <svg class="header__button-img" width="12" height="12">
        <use href="./images/icons.svg#icon-needle"></use>
      </svg>
    </button>
  </div>


  <div class="overlay" id="overlay"></div>
</header>