<div class="modal location-modal" id="modal3">
  <button
    class="close-btn"
    id="closeBurgerMenu"
    aria-label="Close modal"
    type="button"
  >
    <svg class="close-btn__img">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="location-modal__title modal__title" id="modalTitle">Our Locations</p>
  <iframe
    class="modal__frame modal__frame--contacts"
    width="448"
    height="260"
    src="https://www.google.com/maps/d/u/4/embed?mid=10A5pQGfCubwr38YBlwBycsSxgMWQ2V8&ehbc=2E312F"
    title="GOOGLE map"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <button type="button" class="open-modal-btn contacts__btn location-modal__btn"aria-label="Franchise" data-modal-id="modal3">
    Open map
  </button>
</div>
