<div class="modal products-modal" id="product-modal">
  <button class="close-btn" id="closeProductModal" aria-label="Close Product Modal" type="button">
    <svg class="close-btn__img">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <h2 class="products-modal__title modal__title" id="product-name"></h2>
  <div class="products-modal__pic" id="product-pict">
    <img class="products-modal__img" id="product-image" src="#" alt="" />
  </div>
  <ul class="products-modal__nutrition nutrition" id="nutrition-list"></ul>
  <p class="ingredients-title">Ingredients</p>
  <ul
    class="products-modal__ingredients ingredients"
    id="ingredients-list"
  ></ul>
  <form class="form">
    <input
      class="form__input"
      type="text"
      name="username"
      aria-label="Your name"
      required
      placeholder="Name"
    />
    <input
      class="form__input"
      type="tel"
      name="phone_number"
      aria-label="Your phone number"
      required
      placeholder="Phone"
    />
    <textarea
      class="form__comment form__input"
      name="comment"
      aria-label="Your comment"
      placeholder="Comment"
    ></textarea>
    <button class="form__submit" aria-label="Submit your order" type="submit">
      Submit
    </button>
  </form>
</div>
