<section class="products section" id="products">
  <div class="container">
    <p class="subtitle products__subtitle">100% natural</p>
    <h2 class="title products__title">products</h2>
    <ul class="product__list">
      <li class="product__item product__item--cream">
        <h3 class="product__desc">Ice cream</h3>
        <p class="product__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          class="product__button open-product-btn"
          data-product-id="1"
          aria-label="Open product modal"
          type="button"
        >
          <svg class="product__button-img" width="41px" height="16px">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="product__item product__item--coffee">
        <h3 class="product__desc">Ice coffee</h3>
        <p class="product__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          class="product__button open-product-btn"
          data-product-id="2"
          aria-label="Open product modal"
          type="button"
        >
          <svg class="product__button-img" width="41px" height="16px">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="product__item product__item--milkshake">
        <h3 class="product__desc">milkshakes</h3>
        <p class="product__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          class="product__button open-product-btn"
          data-product-id="3"
          aria-label="Open product modal"
          type="button"
        >
          <svg class="product__button-img" width="41px" height="16px">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
