<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <swiper-container
      class="swiper reviews__swiper"
      pagination="true"
      pagination-clickable="true"
      centered-slides="true"
      autoplay-delay="3000"
      autoplay-disable-on-interaction="false"
      loop="true"
      speed="1500"
    >
      <swiper-slide class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/rew1.webp    1x,
              ./images/rew1@2x.webp 2x,
              ./images/rew1@3x.webp 3x
            "
            type="image/webp"
          />
          <img
            class="reviews__img"
            src="./images/rew1.webp"
            alt="review Emily from Los Angeles"
          />
        </picture>
        <p class="reviews__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="reviews__name">Emily, Los Angeles</p>
      </swiper-slide>
      <swiper-slide class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/rew2.webp    1x,
              ./images/rew2@2x.webp 2x,
              ./images/rew2@3x.webp 3x
            "
            type="image/webp"
          />
          <img
            class="reviews__img"
            src="./images/rew2.webp"
            alt="review Sam from Los Angeles"
          />
        </picture>
        <p class="reviews__text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
        <p class="reviews__name">Sam, Los Angeles</p>
      </swiper-slide>
      <swiper-slide class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/rew3.webp    1x,
              ./images/rew3@2x.webp 2x,
              ./images/rew3@3x.webp 3x
            "
            type="image/webp"
          />
          <img
            class="reviews__img"
            src="./images/rew3.webp"
            alt="review Diana from Chicago"
          />
        </picture>
        <p class="reviews__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="reviews__name">Diana, Chicago</p>
      </swiper-slide>
      <swiper-slide class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/rew4.webp    1x,
              ./images/rew4@2x.webp 2x,
              ./images/rew4@3x.webp 3x
            "
            type="image/webp"
          />
          <img
            class="reviews__img"
            src="./images/rew4.webp"
            alt="review Bryan from New-York"
          />
        </picture>
        <p class="reviews__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="reviews__name">Bryan, New-York</p>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
