.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid $link-bg-color;
  border-radius: 10px;
  padding: 28px;
  background-color: $main-text-color;
  opacity: 0;
  visibility: hidden;
  z-index: 1003;
  transform: translate(-50%, -50%);
  transition: opacity $animation, visibility $animation;
  width: 280px;
  height: 100%;
  max-height: 986px;
  overflow-y: auto;
  @media screen and (min-width: $tablet) {
    width: 568px;
    max-height: 647px;
    padding: 32px 54px;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &__title {
    font-family: $second-family;
    color: $secondary-text-color;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 84px;
    @media screen and (min-width: $tablet) {
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 103px;
    }
  }
}

// Close button
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  &__img {
    width: 16px;
    height: 16px;
    fill: $secondary-text-color;
  }
  @media screen and (min-width: $tablet) {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    &__img {
      width: 20px;
      height: 20px;
    }
  }
}

// Food list
.modal__list {
  align-items: center;
  gap: 84px;
  margin-bottom: 24px;
  display: flex;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }
  @media screen and (min-width: $tablet) {
    gap: 32px;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.modal__item {
  border-radius: 16px;
  width: 132px;
  height: 136px;
  box-shadow: 0 5px 20px 0 rgba(212, 20, 67, 0.1);
  color: $secondary-text-color;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 10px;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 21px;
  display: flex;
  position: relative;
  letter-spacing: 0.04em;
  font-size: 16px;

  @media screen and (min-width: $tablet) {
    border-radius: 16px;
    height: 135px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 132px;
    height: 132px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border-radius: 50%;
    top: 0%;
    left: 50%;
    @media screen and (min-width: $tablet) {
      width: 131px;
      height: 130px;
    }
  }
}

.modal__item--cream {
  border: 2px solid #96af8c;
  &::before {
    background-color: rgba(156, 190, 143, 0.7);
    box-shadow: 0 5px 20px 0 rgba(10, 136, 23, 0.25);
  }
}

.modal__item--coffee {
  border: 2px solid $products-bg-color-yellow;
  box-shadow: 0 5px 20px 0 rgba(212, 20, 67, 0.1);
  background-color: $products-bg-color-yellow;
  &::before {
    background-color: rgba(248, 210, 78, 0.7);
    box-shadow: 0 5px 20px 0 rgba(153, 114, 23, 0.25);
  }
}

.modal__item--milkshake {
  border: 2px solid $products-bg-color-coffee;
  &::before {
    background-color: rgba(213, 117, 63, 0.7);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  }
}

.modal__img {
  position: absolute;
  width: 132px;
  height: 132px;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Form
.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    width: 100%;
    height: 32px;
    background-color: rgba(248, 210, 78, 0.1);
    margin-bottom: 12px;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 1.4;
    border: 1px solid $main-bg-color;
    border-radius: 10px;
    background: rgba(248, 210, 78, 0.1);
    @media screen and (min-width: 768px) {
      width: 368px;
      height: 42px;
      margin-bottom: 16px;
      padding: 11px 16px;
    }
  }

  &__comment {
    resize: none;
    height: 65px;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      height: 84px;
      margin-bottom: 32px;
    }
  }
}

.form__input::placeholder,
.form__comment::placeholder {
  color: $secondary-text-color;
}

.form__submit {
  border-radius: 10px;
  min-width: 114px;
  min-height: 42px;
  background-color: $link-bg-color;
  font-weight: 600;
  font-size: 12px;
  color: $secondary-text-color;
  transition: color $animation, background-color $animation;
  @media screen and (min-width: $tablet) {
    min-width: 121px;
    font-size: 14px;
  }
  &:hover,
  &:focus {
    background-color: $button-border-color;
  }
  &:focus {
    color: $main-text-color;
  }
  &:disabled {
    background-color: $time-color;
  }
}
